.context-menu {
  fill: none;
  cursor: pointer;
  stroke-width: 1px;

  .menu-item {
    rect {
      fill: #ffffff;
      stroke: none;
      stroke-width: 0.5px;
    }

    text {
      tspan {
        fill: steelblue;
        text-anchor: start;
        font-size: 0.8rem;
      }
    }
  }
}
