path.draglink {
  pointer-events: none;
  pointer-events: none;
  fill: none;
  stroke: #333;
  stroke-width: 3px;
}

path.draglink.hidden {
  stroke-width: 0;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 3px;
  cursor: default;
}

path.link:hover {
  stroke: rgb(94, 196, 204);
}

path.link.selected  {
  stroke: rgb(229, 172, 247);
}

.node-wrap {
  rect {
    cursor: pointer;
    fill: #ffffff;
    stroke: #676a6c;
    stroke-width: 1.5;
  }

  text {
    cursor: pointer;
    text-anchor: middle;
    font-size: 1rem;
  }

  .data-input {
    cursor: pointer;
    fill: #ffffff;
    stroke: blue;
    stroke-width: 2;
  }
  .data-input.hover {
    fill: blue;
  }

  .data-output {
    cursor: pointer;
    fill: #ffffff;
    stroke: red;
    stroke-width: 2;
  }
  .data-output.hover {
    fill: red;
  }
}

.node-wrap.node-selected  {
  rect {
    stroke-width: 5px;
    stroke: red;
  }
}

.tooltip {
  pointer-events: none;
  opacity: 1;

  rect {
    stroke: #606060;
    stroke-width: 1px;
    fill: #ffffff;
  }
  text {
    // text-anchor: right;yarn
    font-size: 0.7rem;
  }
}