#app {
  font-family: 'Roboto', sans-serif !important;

  --app-left-panel-color: #1E90FF;
  // --app-left-panel-width: 300px;
  --app-left-panel-folder-button: 35px;
  --app-left-panel-zIndex: 100;

  --app-top-panel-color: #1E90FF;
  --app-top-panel-height: 40px;

  // background-image: url('./assets/img/lock-open-solid.svg')


  // --widget-header-color: #ff5a60;
  // --widget-header-height: 52px;
  // --widget-input-height: 89px;
  // --widget-icon-toggle: #FE5C63;
  // --widget-height: 100vh;
  // --widget-menu-subHeader-height: 44px;
  // mobile safari doesn't work vh
  // content: 'viewport-units-buggyfill; --widget-height: 100vh';
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
