// #toolbox {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   margin-bottom: 0.5em;
//   margin-left: 1em;
//   border: 2px solid #EEEEEE;
//   border-radius: 5px;
//   padding: 1em;
//   z-index: 5;
// }

// #toolbox input {
//   width: 30px;ㅏ
//   opacity: 0.4;
// }

// #toolbox input:hover {
//   opacity: 1;
//   cursor: pointer;
// }

// #hidden-file-upload {
//   display: none;
// }

// #download-input {
//   margin: 0 0.5em;
// }

.conceptG text {
  pointer-events: none;
}

marker {
  fill: #333;
}

g.conceptG circle {
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

g.conceptG:hover circle {
  fill: rgb(200, 238, 241);
}

g.selected circle {
  fill: rgb(250, 232, 255);
}
g.selected:hover circle {
  fill: rgb(250, 232, 255);
}

g.selected circle .selected{
  fill: red;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 3px;
  cursor: default;
}

path.link:hover {
  stroke: rgb(94, 196, 204);
}

g.connect-node circle {
  fill: #BEFFFF;
}

path.link.hidden {
  stroke-width: 0;
}

path.link.selected  {
  stroke: rgb(229, 172, 247);
}

.node-wrap {
  rect {
    cursor: pointer;
    fill: #ffffff;
    stroke: #676a6c;
    stroke-width: 1.5;
  }

  text {
    text-anchor: middle;
  }

  .data-input {
    fill: #ffffff;
    stroke: blue;
    stroke-width: 2;
  }
  .data-input.hover {
    fill: blue;
  }

  .data-output {
    fill: #ffffff;
    stroke: red;
    stroke-width: 2;
  }
  .data-output.hover {
    fill: red;
  }
}

// .node-hover {
//   rect {
//     fill: red;
//     opacity: 0.3;
//     stroke-width: 2;
//   }
// }

// data-node selected
// .data-node.selected rect {
//   fill: #676a6c;
//   opacity: 0.3;
//   stroke-width: 2;
// }

// .node-wrap use {
//   fill: #ffffff;
//   stroke: #676a6c;
//   stroke-width: 1.5;
// }

// // data-node node-hover
// .node-wrap use.node-hover  {
//   stroke: red;
//   stroke-width: 3;
// }

.node-wrap.node-selected  {
  fill: blue;
}

// data-node node-hover & connect-node
// .data-node.hover.connect-node rect {
//   stroke-width: 10;
// }

// .data-node text {
//   font-family: sans-serif;
//   font-size: 12px;
// }